
# BEGIN INDEX
# As directivas (linhas) entre "BEGIN INDEX" e "END INDEX" são geradas
# dinamicamente e não deverão ser modificadas através de filtros do WordPress.
# Qualquer alteração às instruções entre estes marcadores será sobreposta.
Options -Indexes
# END INDEX